EnterpriseTracking/EnterpriseTracking/xml/secuencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <!-- Definimos un tipo para Strings que no pueden estar vacios -->
      <xs:simpleType name="StringRequerido">
        <xs:restriction base="xs:string">
           <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>      
      <!-- Definimos un tupo para integers que no pueden estar vacios -->
      <xs:simpleType name="intRequerido">
        <xs:restriction base="xs:integer">
           <xs:minInclusive value="0"/>
        </xs:restriction>
      </xs:simpleType>      
      <!-- Definimos un tupo para Fechas que no pueden estar vacios -->
      <xs:simpleType name="FechaRequerido">
        <xs:restriction base="xs:date">
        </xs:restriction>
      </xs:simpleType>
      <!-- Definimos un tipo para el borrado -->
      <xs:simpleType name="borradoRequerido">
         <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
         </xs:restriction>
      </xs:simpleType>
      <!-- Definimos un tipo para la provincia -->
      <xs:simpleType name="ProvinciaRequerida">
         <xs:restriction base="xs:string">
            <xs:enumeration value="C.A.B.A."/>
            <xs:enumeration value="Buenos Aires"/>
            <xs:enumeration value="Catamarca"/>
            <xs:enumeration value="Chaco"/>
            <xs:enumeration value="Chubut"/>
            <xs:enumeration value="Córdoba"/>
            <xs:enumeration value="Corrientes"/>
            <xs:enumeration value="Entre Ríos"/>
            <xs:enumeration value="Formosa"/>
            <xs:enumeration value="Jujuy"/>
            <xs:enumeration value="La Pampa"/>
            <xs:enumeration value="La Rioja"/>
            <xs:enumeration value="Mendoza"/>
            <xs:enumeration value="Misiones"/>
            <xs:enumeration value="Neuquén"/>
            <xs:enumeration value="Río Negro"/>
            <xs:enumeration value="Salta"/>
            <xs:enumeration value="San Juan"/>
            <xs:enumeration value="San Luis"/>
            <xs:enumeration value="Santa Cruz"/>
            <xs:enumeration value="Santa Fe"/>
            <xs:enumeration value="Santiago del Estero"/>
            <xs:enumeration value="Tierra del Fuego"/>
            <xs:enumeration value="Tucumán"/>
			</xs:restriction>
      </xs:simpleType>
      <!-- Definimos un tipo para lel tipo de movimiento de stock -->
      <xs:simpleType name="TipoStock">
         <xs:restriction base="xs:string">
            <xs:enumeration value="Entrada"/>
            <xs:enumeration value="Salida"/>
			</xs:restriction>
      </xs:simpleType>
      <!-- Definimos un tipo para el tipo de factura -->
      <xs:simpleType name="TipoFactura">
         <xs:restriction base="xs:string">
            <xs:enumeration value="FA"/>
            <xs:enumeration value="NC"/>
            <xs:enumeration value="ND"/>
			</xs:restriction>
      </xs:simpleType>      
      <!-- Definimos un tipo para el tipo de PDV-->
      <xs:simpleType name="TipoPDV">
         <xs:restriction base="xs:string">
            <xs:enumeration value="Kiosco"/>
            <xs:enumeration value="Supermercado chico"/>
            <xs:enumeration value="Supermercado mediano"/>
            <xs:enumeration value="Autoservicio"/>
			</xs:restriction>
      </xs:simpleType>      
	  <xs:element name="secuencia">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="distribuidor" type="intRequerido" minOccurs="1" maxOccurs="1"></xs:element>
               <xs:element name="IDReal" type="intRequerido" minOccurs="1" maxOccurs="1"></xs:element>
               <xs:element name="vendedores" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="vendedor" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="id" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="nombre" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="borrado" type="borradoRequerido" nillable="false"></xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="puntosventa" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="puntoventa" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="id" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="nombre" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="calle" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="numero" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="depto" nillable="true"></xs:element>
                                 <xs:element name="cp" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="provincia" type="ProvinciaRequerida" nillable="false"></xs:element>
                                 <xs:element name="cuit" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="tipopdv" type="TipoPDV" nillable="false"></xs:element>
                                 <xs:element name="vendedor" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="borrado" type="borradoRequerido" nillable="false"></xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="facturas" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="factura" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="nrofactura" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="fecha" type="FechaRequerido" nillable="false"></xs:element>
                                 <xs:element name="tipofactura" type="TipoFactura" nillable="false"></xs:element>
                                 <xs:element name="vendedor" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="puntoventa" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="borrado" type="borradoRequerido" nillable="false"></xs:element>
                                 <xs:element name="detallesfactura" minOccurs="1" maxOccurs="1">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="detallefactura" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="linea" type="intRequerido" nillable="false"></xs:element>
                                                   <xs:element name="producto" type="StringRequerido" nillable="false"></xs:element>
                                                   <xs:element name="cantidad" type="intRequerido" nillable="false"></xs:element>
                                                   <xs:element name="precio" type="xs:double" nillable="false"></xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="stocks" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="stock" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="fecha" type="FechaRequerido" nillable="false"></xs:element>
                                 <xs:element name="tipo" type="TipoStock" nillable="false"></xs:element>
                                 <xs:element name="producto" type="StringRequerido" nillable="false"></xs:element>
                                 <xs:element name="cantidad" type="intRequerido" nillable="false"></xs:element>
                                 <xs:element name="precio" type="xs:double" nillable="false"></xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
</xs:schema>
